<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
    <body class="text-center">
    <body style="background-color:AliceBlue;">
      <form action="/signup" method="post">
        <h1 class="font-weight-bold">App Monsters BNB</h1>
        <h4>Please sign up</h4>
        <label for="name" class="sr-only">Email address</label>
          <input type="name" name="name" class="form-control" placeholder="Name(Email address)" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="userType">Choose a user type:</label>
          <select id="userType" name="userType">
            <option value="landlord">Landlord</option>
            <option value="guest">Guest</option>
          </select>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create your account</button>
        <br>
        <a href="/signin">Sign in here</a>
        <br>
        <img src="https://bit.ly/3dcbj2p" alt="App Monsters" style="width:90px;height:60px;">
        <p class="mt-5 mb-3 text-muted">&copy; App Monsters</p>
    </form>
  </body>
</html>
