<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body class="text-center">
  <body style="background-color:AliceBlue;">
    <form action="/spaces/bookings" method="post">
      <h1 class="h3 mb-3 font-weight-bold"> Make a new booking </h1>
      <label for="property_name" class="sr-only">Property Name</label>
      <input type="text" name="property_name" class="form-control" placeholder="Add property name here" required autofocus>
      <label for="start_date" class="sr-only">Start Date</label>
      <input type="date" name="start_date" class="form-control" placeholder="Add start date here" required autofocus>
      <label for="end_date" class="sr-only">End Date</label>
      <input type="date" name="end_date" class="form-control" placeholder="Add end date here" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Make Booking</button>
      <br>
      <img src="https://bit.ly/3dcbj2p" alt="App Monsters" style="width:90px;height:60px;">
      <p class="mt-5 mb-3 text-muted">&copy; App Monsters</p>
    </form>

    <form method="get" action="/spaces">
      <button type="submit">Return to Spaces</button>
    </form>
  </body>
</html>
