<form action="/spaces" method="post">
  <input type="text" name="property_name" />
  <input type="submit" value="Submit" />
</form>

<form method="get" action="/">
    <button type="submit">Return to Homepage</button>
</form>